logging:
  level:
    org:
      springframework:
        security: TRACE
spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: <client_id>
            client-secret: <client_secret>
            scope:
              - profile
              - openid
              - email
            client-name: Sign in with Google
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://openidconnect.googleapis.com/v1/userinfo
            jwk-set-uri: https://www.googleapis.com/oauth2/v3/certs
            user-name-attribute: sub
